@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
body{
font-family: 'Poppins', sans-serif;
}

.box{
	height: 400px;
	width: 400px;
	border:5px solid #000;
	padding: 20px;
	/*padding-left: 10px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 10px;*/
	/*padding: 20px 30px;*/
	/*padding: 10px 30px 40px 20px;*/
	margin:20px;
	/*margin-left: 10px;
	margin-right: 10px;
	margin-top: 50px;
	margin-bottom: 50px;*/
	/*margin:20px 30px 20px 30px;*/

}
/*.box h1, p{
	margin:0px;
}
*/
.box h1{
	color: #FF9800;
	text-align: center;
	text-decoration: underline;
	text-transform: uppercase;
	/*text-decoration: line-through;*/
	letter-spacing:1px;
	text-shadow: 2px 2px 2px #000;
	font-family: 'Potta One', cursive;
	font-weight: normal;
	font-size: 28px
}
.box p{
	color:#757575;
	text-align: justify;
	/*text-transform: capitalize;*/
	text-transform: lowercase;
	line-height: 24px;
	font-family: 'Poppins', sans-serif;
	font-style: italic;
	font-weight: normal;
	font-size: 15px;
}
.box h5{
	margin:0;
}
.box a{
	text-decoration: none;
    font-size: 28px;
    margin-right: 10px;
}
.box a.fb{
	color: #3b5998;
}
.box a.tw{
	color: #1da1f2;
}
.box a.in{
	color: #e1306c;
}
.share{
	border:1px solid #919191;
	padding: 5px 20px;
}